@CHARSET "UTF-8";

html {
    font-family: メイリオ;
}

body {
}

body header {
    border-top: 3px solid #FF0000;
}

body main,
body footer {
}

.brand {
    position: relative;
    margin-right: 25px;
}
.brand:before {
    content: 'W';
    color: #FFFFFF;
    background-color: #FF0000;
    font-style: italic;
    position: absolute;
    left: 0;
    bottom: 0;
}

.copyright {
    text-align: center;
}
