<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="author" content="Hyukke" />
  <title>Index</title>
  <link rel="stylesheet" th:href="@{/css/application.css}" type="text/css" />
</head>
<body>
  <header role="banner">
  </header>
  <main role="main">
    <section>
      <h1>Index</h1>
      <p>This is index page.</p>
      <p id="date">Date</p>
      <section>
        <h2>Sample Data</h2>
        <div>
          <div th:text="|ID: ${sample.id}|"></div>
          <div th:text="|NAME: ${sample.name}|"></div>
          <div th:text="|TYPE: ${sample.type.name()}|"></div>
        </div>
      </section>
    </section>
  </main>
  <footer role="contentinfo">
    <nav role="navigation">
      <a href="#top">トップ</a>
    </nav>
    <p class="copyright"><small>&copy; copyright 2016 Hyukke</small></p>
  </footer>
  <script type="text/javascript" src="/js/application.js"></script>
</body>
<script type="text/javascript">
var today = new Date();
var date = today.getFullYear() + "/" + (today.getMonth() + 1) + "/" + today.getDate() + " " 
        + today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
document.getElementById("date").textContent = date;
</script>
</html>
