<header th:fragment="header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <nav class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topNavigation" aria-expanded="false">
          <span class="sr-only">Toggle Navigation</span>
          <span class="sr-only"></span>
          <span class="sr-only"></span>
          <span class="sr-only"></span>
        </button>
        <a class="navbar-brand" href="#" th:href="@{/}"><span class="brand"></span>Hello WorldTS!!</a>
      </nav>
      <div class="collapse navbar-collapse" id="#topNavigation">
        <ul class="nav navbar-nav navbar-right">
          <li><p class="navbar-text">ようこそ&nbsp;<strong sec:authentication="principal.user.displayName">ゲスト</strong>&nbsp;さん</p></li>
          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="caret"></span>
              <span class="sr-only">User Information</span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><p class="dropdown-header" sec:authentication="principal.user.role.name">Role name</p></li>
              <li class="divider"></li>
              <li><a href="javascript:alert('未実装です');"><span class="glyphicon glyphicon-user" area-hidden="true"></span> プロファイル</a></li>
              <li><a href="javascript:alert('未実装です');"><span class="glyphicon glyphicon-question-sign" area-hidden="true"></span> ヘルプ</a></li>
              <li class="divider"></li>
              <li><a href="javascript:alert('未実装です');"><span class="glyphicon glyphicon-cog" area-hidden="true"></span> 設定</a></li>
              <li><a href="javascript:void(0);" class="confirm-modal-dialog" data-toggle="modal" data-target="#logoutConfirmModalDialog" data-backdrop="static" th:attr="data-href=@{/logout}"><span class="glyphicon glyphicon-log-out" area-hidden="true"></span> ログアウト</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div th:replace="fragments/confirm_modal_dialog :: modalDialog (modalDialogId = 'logoutConfirmModalDialog', confirmMessage = 'ログアウトします。よろしいですか？')"></div>
    </div>
  </nav>
</header>
