<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
<head>
  <title>サンプル</title>
</head>
<body>
  <main layout:fragment="content">
    <article>
      <h1></h1>
      <section>
        <h2>Sample Page <small>サンプルページ</small></h2>
        <section>
          <h3>Samples <small>サンプルデータ</small></h3>
          <ol class="breadcrumb">
            <li><a th:href="@{/samples}">一覧</a></li>
            <li><a th:href="@{/samples/__${sample.id}__}">詳細</a></li>
            <li class="active">編集</li>
          </ol>
          <section id="edition">
            <h4>編集</h4>
            <div th:replace="fragments/messages :: messages(resultMessages = ${resultMessages})"></div>
            <div class="alert alert-danger" th:errors="${sampleForm.*}">Error Messages</div>
            <section>
              <form class="form-horizontal" method="post" th:action="@{/samples/__${sample.id}__}" th:object="${sampleForm}">
                <input type="hidden" name="_method" value="PUT" />
                <div class="form-group">
                  <label class="col-sm-3 control-label">ID</label>
                  <div class="col-sm-8">
                    <p class="form-control-static" th:text="${sample.id}">ID</p>
                  </div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('*{name}') ? 'has-error has-feedback' : ''}">
                  <label for="name" class="col-sm-3 control-label">名称</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control" th:field="*{name}" />
                    <th:block th:if="${#fields.hasErrors('*{name}')}">
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    <span id="inputError2Status" class="sr-only">(error)</span>
                    </th:block>
                  </div>
                  <p class="help-block">64文字</p>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('*{type}') ? 'has-error has-feedback' : ''}">
                  <label for="type" class="col-sm-3 control-label">種別</label>
                  <div class="col-sm-4">
                    <select class="form-control" th:field="*{type}">
                      <option value=""></option>
                      <option th:each="sampleType : ${sampleTypes}" th:value="${sampleType.name()}" th:text="${sampleType.label}"></option>
                    </select>
                    <th:block th:if="${#fields.hasErrors('*{type}')}">
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    <span id="inputError2Status" class="sr-only">(error)</span>
                    </th:block>
                  </div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('*{email}') ? 'has-error has-feedback' : ''}">
                  <label for="email" class="col-sm-3 control-label">メールアドレス</label>
                  <div class="col-sm-7">
                    <input type="email" class="form-control" th:field="*{email}" />
                    <th:block th:if="${#fields.hasErrors('*{email}')}">
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    <span class="sr-only">(error)</span>
                    </th:block>
                  </div>
                  <p class="help-block">256文字</p>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('*{password}') ? 'has-error has-feedback' : ''}">
                  <label for="password" class="col-sm-3 control-label">パスワード</label>
                  <div class="col-sm-7">
                    <input type="password" class="form-control" th:field="*{password}" />
                    <th:block th:if="${#fields.hasErrors('*{password}')}">
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    <span class="sr-only">(error)</span>
                    </th:block>
                  </div>
                  <p class="help-block">64文字</p>
                </div>
                <div class="form-group">
                  <label for="checked" class="col-sm-3 control-label">チェック</label>
                  <div class="col-sm-8">
                    <label class="checkbox-inline control-label">
                      <input type="checkbox" th:field="*{checked}" /> チェックする
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label for="option" class="col-sm-3 control-label">オプション</label>
                  <div class="col-sm-8">
                    <label class="radio-inline" th:each="option : ${T(jp.ne.hyukke.wts.hello.domain.constants.SampleOption).values()}">
                      <input type="radio" th:field="*{option}" th:value="${option.name()}" th:text="| ${option.label}|" > Option label</input>
                    </label>
                  </div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('*{remark}') ? 'has-error has-feedback' : ''}">
                  <label for="remark" class="col-sm-3 control-label">備考</label>
                  <div class="col-sm-7">
                    <textarea rows="22" cols="10" class="form-control" th:field="*{remark}"></textarea>
                    <th:block th:if="${#fields.hasErrors('*{remark}')}">
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    <span class="sr-only">(error)</span>
                    </th:block>
                  </div>
                  <p class="help-block">10000文字</p>
                </div>
                <div class="form-group">
                  <div class="col-sm-6 text-left">
                    <a class="btn btn-default" th:href="@{/samples/__${sample.id}__}"><span class="glyphicon glyphicon-file" area-hidden="true"></span> 詳細に戻る</a>
                  </div>
                  <div class="col-sm-6 text-right">
                    <button type="submit" class="btn btn-success confirm-modal-dialog" data-toggle="modal" data-target="#confirmModalDialog" data-backdrop="static"><span class="glyphicon glyphicon-save" area-hidden="true"></span> 更新する</button>
                  </div>
                </div>
              </form>
            </section>
            <div th:replace="fragments/confirm_modal_dialog :: modalDialog (confirmMessage = '更新を行います。よろしいですか？')"></div>
          </section>
        </section>
      </section>
    </article>
  </main>
</body>
</html>
