<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
<head>
  <title>トップ</title>
</head>
<body>
  <main role="main" layout:fragment="content">
    <article>
      <h1>Sample Application <small>サンプルアプリケーション</small></h1>
      <section>
        <h2>Top Page <small>トップページ</small></h2>
        <p>ここはトップページです。&nbsp;<span id="date">Date</span></p>
        <section>
          <h3>Links <small>リンク</small></h3>
          <ul>
            <li><a th:href="@{/users}">ユーザー管理ページはこちら</a></li>
            <li><a th:href="@{/samples}">サンプルページはこちら</a></li>
          </ul>
        </section>
      </section>
    </article>
<script type="text/javascript">
var today = new Date();
var date = today.getFullYear() + "/" + (today.getMonth() + 1) + "/" + today.getDate() + " "
        + today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
document.getElementById("date").textContent = date;
</script>
  </main>
</body>
</html>
